@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  color: color-mix(in srgb, color percentage, color percentage);
  background: scroll;
  text-align: center;
}
body{
  color: forestgreen;
}